/* your css here */

.contact .navbar-inverse .navbar-nav > li > a[href="contact.html"], 
.about .navbar-inverse .navbar-nav > li > a[href="about.html"],
.index .navbar-inverse a.navbar-brand[href="."]
{
    color: white;
}

main {
    min-height: calc(100vh - 2em);
}
footer {
    height: 1em;
}